Source: ini-config
Section: python
Priority: optional
Maintainer: Alexander Safonov <aesafonov@tvc.ru>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-wheel
Standards-Version: 4.6.2
Homepage: https://github.com/linuxotter/ini-config

Package: python3-ini-config
Architecture: all
Multi-Arch: foreign
Depends:
 python3,
 ${shlibs:Depends},
 ${misc:Depends},
Description: Parser for INI configuration files
 This module extends the functionality of the built-in Python `configparser`
 module. It allows defining expected configuration structures, setting
 default values for optional parameters, and provides access to parsed data
 via a Namespace object.
