Source: ini-config
Section: python
Priority: optional
Maintainer: Alexandr Safonov <aesafonov@tvc.ru>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-wheel
Standards-Version: 4.6.2
Homepage: https://github.com/linuxotter/ini-config

Package: python3-ini-config
Architecture: all
Multi-Arch: foreign
Depends:
 python3,
 ${shlibs:Depends},
 ${misc:Depends},
Description: Python module for parsing INI configuration files
 This module is designed to parse configuration files, extract
 parameters, and pass them to the calling Python script. It allows
 changing application parameters without editing the source code.